
<div class="filterForm">
  <form class="form-inline" role="form">
    <div class="form-group">
      Filter by
    </div>
    <div class="form-group">
      Last Name:
      <input type="text" id="name" ng-model="search.web_name" placeholder="" />
    </div>
    <div class="form-group">
      Team:
      <select ng-model="search.team" ng-options="t.name for t in teams track by t.short_name">
        <option value="">ALL</option>
      </select>
    </div>
    <div class="form-group">
      <span title="Leave blank to see all positions">Position:</span>
      <select ng-model="search.position">
        <option>ALL</option>
        <option>FWD</option>
        <option>MID</option>
        <option>DEF</option>
        <option>GK</option>
      </select>
    </div>
    <div class="form-group">
      <span title="Only show the players who have played at least this many minutes">Min minutes:</span>
      <input type="text" id="minutes" ng-model="search.minMinutes" placeholder="0" style='width:50px;' />
    </div>
    <div class="form-group">
      <button ng-click="reset()">Reset Filters</a>
    </div>
  </form>
</div>

<div class="reports">
  or choose a Report:
  <ul>
    <li ng-repeat="r in reports"><a href='' ng-click='loadReport(r);'>{{ r.name }}</a></li>
  </ul>
</div>

<div ng-hide="players" class='loading'>Loading...</div>

<table ng-show="players">
  <thead>
    <tr>
      <th class=" {{ columns['web_name'] }} "><a href='' ng-click="sortByColumn('web_name');" >Name</a></th>
      <th class=" {{ columns['team'] }} "><a href='' ng-click="sortByColumn('team');" >Team</a></th>
      <th class=" {{ columns['position'] }} "><a href='' ng-click="sortByColumn('position');" >Pos</a></th>
      <th class=" {{ columns['now_cost'] }} "><a href='' ng-click="sortByColumn('now_cost');" >Cost</a></th>
      <th class=" {{ columns['cost_change_event'] }} "><a href='' ng-click="sortByColumn('cost_change_event');" >Cost Change</a></th>
      <th class=" {{ columns['total_points'] }} "><a href='' ng-click="sortByColumn('total_points');" >Total Pts</a></th>
      <th class=" {{ columns['event_points'] }} "><a href='' ng-click="sortByColumn('event_points');" >Pts</a></th>
      <th class=" {{ columns['goals_scored'] }} "><a href='' ng-click="sortByColumn('goals_scored');" >Goals</a></th>
      <th class=" {{ columns['assists'] }} "><a href='' ng-click="sortByColumn('assists');" >Assists</a></th>
      <th class=" {{ columns['minutes'] }} "><a href='' ng-click="sortByColumn('minutes');" >Min</a></th>
      <th class=" {{ columns['form'] }} "><a href='' ng-click="sortByColumn('form');" >Form</a></th>
      <th class=" {{ columns['bonus'] }} "><a href='' ng-click="sortByColumn('bonus');" >Bonus</a></th>
      <th class=" {{ columns['clean_sheets'] }} "><a href='' ng-click="sortByColumn('clean_sheets');" >Clean Sheets</a></th>
      <th class=" {{ columns['saves'] }} "><a href='' ng-click="sortByColumn('saves');" >Saves</a></th>
      <th class=" {{ columns['red_cards'] }} "><a href='' ng-click="sortByColumn('red_cards');" >Reds</a></th>
      <th class=" {{ columns['yellow_cards'] }} "><a href='' ng-click="sortByColumn('yellow_cards');" >Yellows</a></th>
      <th class=" {{ columns['penalties_missed'] }} "><a href='' ng-click="sortByColumn('penalties_missed');" >Pen Miss</a></th>
      <th class=" {{ columns['own_goals'] }} "><a href='' ng-click="sortByColumn('own_goals');" >Own Goals</a></th>
      <th class=" {{ columns['selected'] }} "><a href='' ng-click="sortByColumn('selected');" >Selected</a></th>
      <th class=" {{ columns['transfers_in_event'] }} "><a href='' ng-click="sortByColumn('transfers_in_event');" >Tansfers in</a></th>
      <th class=" {{ columns['transfers_out_event'] }} "><a href='' ng-click="sortByColumn('transfers_out_event');" >Tansfers out</a></th>
      <th class=" {{ columns['transfer_diff'] }} "><a href='' ng-click="sortByColumn('transfer_diff');" >Tansfers Diff</a></th>
      <th class=" {{ columns['in_dreamteam'] }} "><a href='' ng-click="sortByColumn('in_dreamteam');" >Dream Team</a></th>
      <th class=" {{ columns['ea_index'] }} "><a href='' ng-click="sortByColumn('ea_index');" >EA index</a></th>
      <th class=" {{ columns['status'] }} "><a href='' ng-click="sortByColumn('status');" >Status</a></th>
      <th class=" {{ columns['news'] }} "><a href='' ng-click="sortByColumn('news');" >News</a></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="p in players | filter:searchFilter | orderBy:sort.orders">
      <td>
        <span title="{{ p.first_name }} {{ p.second_name }}">{{ p.web_name }}</span>
      </td>
      <td>{{ p.team }}</td>
      <td>{{ p.position }}</td>
      <td class="right">{{ p.now_cost / 10 | number:1 }}</td>
      <td class='right {{ p.cost_change_event | movement }} center'>{{ p.cost_change_event | number:1 | n }}</td>
      <td class='center points'>{{ p.total_points | n }}</td>
      <td class='center'>{{ p.event_points | n }}</td>
      <td class='center'>{{ p.goals_scored | n }}</td>
      <td class='center'>{{ p.assists | n}}</td>
      <td class='right'>{{ p.minutes | n  | number }}</td>
      <td class='center'>{{ p.form | n }}</td>
      <td class='center'>{{ p.bonus | n }}</td>
      <td class='center'>{{ p.clean_sheets | n }}</td>
      <td class='center'>{{ p.saves | n }}</td>
      <td class='center'>{{ p.red_cards | n }}</td>
      <td class='center'>{{ p.yellow_cards | n }}</td>
      <td class='center'>{{ p.penalties_missed | n }}</td>
      <td class='center'>{{ p.own_goals | n }}</td>
      <td class='right'>{{ p.selected | n | number}}</td>
      <td class='right'>{{ p.transfers_in_event | number }}</td>
      <td class='right'>{{ p.transfers_out_event | number }}</td>
      <td class='right {{ p.transfer_diff | movement }}'>{{ p.transfer_diff | number }}</td>
      <td class='dream'>{{ p.in_dreamteam | maskBool:'*' }} {{ p.dreamteam_count | n }}</td>
      <td class='center'>{{ p.ea_index | number }}</td>
      <td class='center status {{ p.status | status:p.chance_of_playing_this_round:p.news }}'>
        <span title="{{ p.chance_of_playing_this_round }} - {{ p.news }}">
        {{ p.status | statusText:p.chance_of_playing_this_round:p.news }}
        </span>
      </td>
      <td>{{ p.news }}</td>
    </tr>
  </tbody>
</table>
