/* app css stylesheet */
body { padding:10px; font-size:12px; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

h1 { font-size: 1.3em; margin-top:0px; }

.center { text-align:center; }
.right { text-align:right; }

ul li { display:inline; margin:0 4px;}
table { margin:0; padding:0; }
th { background:#35700F; color:#FFF; text-align:center; font-weight:normal; font-size:.9em; }

th.highlight { background:#000; }

th a, th a:visited { color:#FFF; text-decoration:none; }
td, th { border:solid 1px #CCC; padding:0 5px; }

tr:nth-child(even) { background: #EEE; }

.status { font-weight:bold; padding:1px 2px; }
.warn { background:#CC0000; color:#FFF; }
.doubt { background:#FF5C26; color:#FFF;  }
.doubt25 { background:#FF5C26; color:#FFF; }
.doubt50 { background:#FFAA33; }
.doubt75 { background:#FFE463; }


/*
.status { font-weight:bold; }
.warn { color:#CC0000; ; }
.doubt { color:#FF5C26;   }
.doubt25 { color:#FF5C26; }
.doubt50 { color:#FFAA33; }
.doubt75 { color:#FFE463; }
*/

.positive { color:green; }
.negative { color:#CC0000; }

.points { font-weight:bold; }
.dream { font-weight:bold; text-align:center; }

.filterForm { padding:6px 0; }
.filterForm .form-group { padding-right:10px; }

.footer { padding:10px 0; }

.loading { font-size:2em; }

.btn {
    margin: 2px;
}

.ARS { color: #FF0000; }
.CHE, .EVE { color: #1F5AFF; }
.MUN { color: #BF1313; }
.MCI { color: #6FF2EA; }
.BUR { color: #943B3B}

.win { color:green; }
.loss { color:#990000; }
.draw { color:gray; }

.win, .loss, .draw { font-family: 'Courier New'; font-size:16px; font-weight:bold; }
.teamform { margin:0; padding:0; }
.teamform li { padding:0; margin:0; display:inline; }
